name: Deploy on Merge

on:
    push:
        branches:
            - main # main 브랜치로 푸시될 때 실행


jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            # 1. Node.js 및 pnpm 설치
            - name: Set up Node.js
              uses: actions/setup-node@v2
              with:
                  node-version: "18"

            - name: Install pnpm
              run: npm install -g pnpm

            # 2. Repository Checkout
            - name: Checkout repository
              uses: actions/checkout@v2
              with:
                      # 필요 시 전체 이력을 가져오도록 설정 (얕은 복사 방지)
              fetch-depth: 0

            - name: Ensure Repo is Non-Shallow
              run: |
                if git rev-parse --is-shallow-repository | grep -q "true"; then
                  echo "Repository is shallow. Attempting unshallow..."
                  git fetch --unshallow
                else
                  echo "Repository is already non-shallow."
                fi

            - name: Compare HEAD with HEAD^
              id: diff
              run: |
                  # HEAD~1 과 동일
                  # HEAD가 최소 2개 이상의 커밋이 있는지 확인
                  if git cat-file -e HEAD^; then
                    echo "Comparing HEAD^ with HEAD"
                    git diff --name-only HEAD^ HEAD > changed_files.txt
                    echo "CHANGED_FILES=$(cat changed_files.txt)" >> $GITHUB_ENV
                    cat changed_files.txt
                  else
                    echo "HEAD^ does not exist (probably only one commit)."
                    echo "CHANGED_FILES=" >> $GITHUB_ENV
                  fi
            

            # 4. 클라이언트 배포
            - name: Deploy Client
              if: contains(env.CHANGED_FILES, 'apps/client/')


              env:
                  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  AWS_DEFAULT_REGION: "kr-standard"
              run: |
                  echo "${{ secrets.FRONT_END_ENV }}" > apps/client/.env
                  cd apps/client
                  pnpm install
                  pnpm run build
                  sudo apt-get update
                  sudo apt-get install -y python3-pip
                  pip3 install --upgrade awscli
                  aws --endpoint-url=https://kr.object.ncloudstorage.com s3 sync ./dist s3://ask-it-static/dist --acl public-read

            # 5. 서버 배포
            - name: Deploy Server
              if: contains(env.CHANGED_FILES, 'apps/server/')
              uses: appleboy/ssh-action@v0.1.4
              with:
                  host: ${{ secrets.WEB_SERVER_IP }}
                  username: ${{ secrets.SERVER_USER }}
                  key: ${{ secrets.NCP_SERVER_RSA_PRIVATE_KEY }}
                  script: |
                      export NVM_DIR="$HOME/.nvm"
                      [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
                      npm install -g pnpm pm2
                      SERVER_DIR="~/Ask-It-server"
                      if [ ! -d "$SERVER_DIR" ]; then
                        mkdir -p $SERVER_DIR
                      fi
                      if [ ! -d "$SERVER_DIR/.git" ]; then
                        git clone "${{ secrets.GIT_REPO_URL }}" $SERVER_DIR
                      else
                        cd $SERVER_DIR
                        git reset --hard
                        git pull origin main
                        pnpm install
                      fi
                      
                      cd $SERVER_DIR/apps/server
                      echo "${{ secrets.SERVER_ENV }}" > .env
                      pnpx prisma generate
                      pnpx prisma migrate deploy

                      pm2 stop http-server || true
                      pm2 delete http-server || true
                      pm2 start ecosystem.config.js

            # 6. 소켓 서버 배포
            - name: Deploy Socket Server

              if: contains(env.CHANGED_FILES, 'apps/socket-server/')

              uses: appleboy/ssh-action@v0.1.4
              with:
                  host: ${{ secrets.WEB_SERVER_IP }}
                  username: ${{ secrets.SERVER_USER }}
                  key: ${{ secrets.NCP_SERVER_RSA_PRIVATE_KEY }}
                  script: |
                      export NVM_DIR="$HOME/.nvm"
                      [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
                      npm install -g pnpm pm2
                      SOCKET_DIR="~/Ask-It-socket"
                      if [ ! -d "$SOCKET_DIR" ]; then
                        mkdir -p $SOCKET_DIR
                      fi
                      if [ ! -d "$SOCKET_DIR/.git" ]; then
                        git clone "${{ secrets.GIT_REPO_URL }}" $SOCKET_DIR
                      else
                        cd $SOCKET_DIR
                        git reset --hard
                        git pull origin main
                        pnpm install
                      fi
                      
                      cd $SOCKET_DIR/apps/socket-server
                      echo "${{ secrets.SOCKET_ENV }}" > .env
                      pnpx prisma generate
                      pnpm build

                      pm2 stop ws-server || true
                      pm2 delete ws-server || true
                      pm2 start ecosystem.config.js